#M Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# emacs save files
*~
\#*\#
.\#*

# palabos files
.sconsign.dblite

# outputs
tmp/
post/
*.vti


# image and video files
*.avi
*.gif
*.jpg
*.pdf
*.eps

# misc files
octave*
core
gmon.out
log.*
perf.*
*.hpcstruct

# collected bullsh*t
examples/dragValidationLiggghts/u0*
examples/sedimentingSphere/*E*
#examples/sedimentingSphere/E*
Re*-N*

